*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Century Gothic', sans-serif; 
    } 
    body{ 
     
        padding: 10%; 
        margin-left: 2%; 
        justify-content: center; 
        align-items: top; 
        min-height: 100vh; 
        background-color: rgb(207, 52, 52); 
    } 
    .wrapper{ 
        width: 300px; 
        height: 101%; 
        background-color: rgb(245, 247, 248); 
        color: rgb(249, 252, 252); 
        border-radius: 28px; 
     
    } 
     
    .wrapper h1{ 
        font-size: 180%; 
        text-align: center; 
    } 
     
    .wrapper .input-box{ 
    width: 300px; 
    height: 4.5cm; 
    background: transparent; 
     
    } 
     
    input[type="email"] { 
        width: 100%;  
        padding: 12px; 
        background-color: transparent; 
        border: none;  
        outline: none;  
        border: 2px solid rgb(255, 255, 255); 
        border-radius: 40px; 
        padding: 10px 20px 10px 10p 
      } 
       
      input[type="password"]{ 
        width: 100%;  
        padding: 12px; 
        background-color: transparent; 
        border: none;  
        outline: none;  
        border: 2px solid rgb(255, 255, 255); 
        border-radius: 40px; 
        padding: 10px 20px 10px 10p 
     
    } 
     
    input[type="text"]{ 
        width: 100%;  
        padding: 12px; 
        background-color: transparent; 
        border: none;  
        outline: none;  
        border: 2px solid rgb(255, 255, 255); 
        border-radius: 40px; 
        padding: 10px 20px 10px 10px; 
     
    } 
     
    button{ 
        width: 100%;  
        padding: 12px; 
        background-color: transparent; 
        border: none;  
        outline: none;  
        border: 2px solid rgb(255, 255, 255); 
        border-radius: 40px; 
    }